<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
         .container{
            width: 300px;
            margin: 10px auto;
        }
        h3{
            margin-left:70px; 
        }
        .id{
            position: absolute;
            visibility:hidden;
            height: 0px;
        }
        .submit{
            margin-left:100px; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>修改书籍</h3>
    <form action="/doedit" method="get">
            <input type="text" name="id" class="id" value="<%=_id%>">
        <p>
            书名：
            <input type="text" name="name" value="<%=name%>">
        </p>
        <p>
            作者：
            <input type="text" name="author" value="<%=author%>">
        </p>
        <p>
            价格：
            <input type="number" name="price" value="<%=price%>">
        </p>
        <input type="submit" class="submit" value="提交">
    </form>
</div>
</body>
</html>